# Hidden files and folders (except .gitignore)
.*
!.gitignore
!.streamlit

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# if you want to use another secret file locally
.streamlit/config.toml
local_secrets.toml